@using ShadcnBlazor.Components.Button
@inherits ShadcnComponentBase

<Button
    Variant="@CurrentVariant"
    Size="@Size"
    State="@(Disabled ? ButtonState.Disabled : null)"
    Type="@Type"
    Class="@CurrentClass"
    role="button"
    aria-pressed="@(CurrentState ? "true" : "false")"
    @onclick="HandleClick"
    @attributes="AdditionalAttributes">
    @ChildContent
</Button>
