@inherits ShadcnComponentBase

<div
    data-slot="avatar"
    class="@GetClass()"
    @attributes="AdditionalAttributes">
    @if (ShouldRenderImage)
    {
        <img
            data-slot="avatar-image"
            src="@Src"
            alt="@Alt"
            class="@GetImageClass()"
            @onerror="HandleImageError" />
    }
    else if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @GetFallbackText()
    }
</div>
