<div class="flex flex-wrap gap-4">
    <Button>Default</Button>
    <Button Variant="@Variant.Destructive">Destructive</Button>
    <Button Variant="@Variant.Outline">Outline</Button>
    <Button Variant="@Variant.Secondary">Secondary</Button>
    <Button Variant="@Variant.Ghost">Ghost</Button>
    <Button Variant="@Variant.Link">Link</Button>
</div>
