@page "/"
@using EasyAppDev.Blazor.Icons.Lucide
@using ShadcnBlazor.Components.Checkbox
@using ShadcnBlazor.Components.Textarea
@using ShadcnBlazor.Docs.Components.Home
@layout NoNavMenuLayout

<PageTitle>A shadcn/ui inspired Blazor component library</PageTitle>

<HeadContent>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap" rel="stylesheet">
</HeadContent>

<div class="w-full flex flex-col items-center pt-20 pb-40 gap-25 text-sm">
    <div class="w-full flex flex-col items-center gap-4">
        <h1 class="font-bold text-5xl w-5xl text-center">
            A
            <span class="bg-card px-1 rounded rounded-xl" style="font-family: 'JetBrains Mono', monospace;">shadcn/ui</span>
            inspired Blazor component library
        </h1>

        <p class="text-lg w-2xl text-center">
            A Blazor component library that offers simple, customizable, and extensible components.
            Similar to <span style="font-family: 'JetBrains Mono', monospace;">shadcn/ui</span>, this library is open source and open code.
        </p>
        
        <p class="text-sm w-2xl text-center text-muted-foreground/50">
            * everything you see here was built solely using 
            <span style="font-family: 'JetBrains Mono', monospace;">ShadcnBlazor</span>
        </p>
        
        <div class="flex gap-4">
            <Button Variant="@Variant.Default">
                Getting Started
            </Button>
        
            <Button Variant="@Variant.Outline">
                View Components
            </Button>
        </div>
    </div>
    
    <div id="examples" class="px-24 w-full flex flex-col items-center gap-6">
        <div id="examples-selector" class="w-full flex justify-start gap-4">
            @foreach (var tab in Enum.GetValues<Tab>())
            {
                @RenderTabOption(tab)
            }
        </div>

        @switch (_selectedTab)
        {
            case Tab.Examples:
                @RenderExamplesTab()
                break;
            case Tab.MarkdownEditor:
                @RenderMarkdownEditorTab()
                break;
            case Tab.AiChat:
                @RenderAiChatTab()
                break;
            case Tab.Authentication:
                @RenderAuthenticationTab()
                break;
        }
    </div>
</div>

@code {
    private RenderFragment RenderTabOption(Tab tab) => __builder =>
    {
        var tabString = TabToString(tab);
        <ToggleButton IsToggled="@(_selectedTab == tab)" OnClick="@(_ => _selectedTab = tab)"
                      Size="@Size.Sm" VariantUntoggled="@Variant.Ghost" VariantToggled="@Variant.Default">
            <span class="font-bold">@tabString</span>
        </ToggleButton>
    };
    
    private RenderFragment RenderExamplesTab() => __builder =>
    {
        <div class="grid grid-cols-4 gap-x-4 w-full">
            @* col 1 *@
            <div class="w-full">
                <SamplePaymentForm></SamplePaymentForm>
            </div>
            
            @* col 2 *@
            <div class="w-full flex flex-col gap-4">
                @* no team members card *@
                <Card Variant="@CardVariant.Outline" Class="py-10 gap-4 justify-center items-center text-center">
                    <AvatarGroup Size="@Size.Md">
                        <Avatar Src="https://i.pravatar.cc/64?img=8" Alt="Bryan Miller" />
                        <Avatar Src="https://i.pravatar.cc/64?img=11" Alt="Sam Moore" />
                        <Avatar Src="https://i.pravatar.cc/64?img=12" Alt="Sam Moore" />
                        <Avatar Src="https://i.pravatar.cc/64?img=420" Alt="Sam Moore" />
                    </AvatarGroup>
                    
                    <div class="flex flex-col">
                        <span class="text-base font-bold">Nobody's here yet</span>
                        <span class="text-sm text-muted-foreground">Invite your friends to start messaging</span>
                    </div>

                    <Button Size="@Size.Sm" Variant="@Variant.Default"><LuShare/>Share Invite Link</Button>
                </Card>

                @* we're processing your request card card *@
                <Card Variant="@CardVariant.Outline" Class="gap-4 justify-center items-center text-center">
                    <div class="p-2 rounded-xl bg-muted">
                        <LuLoaderCircle class="animate-spin w-4 h-4"/>
                    </div>
                    
                    <div class="flex flex-col">
                        <span class="text-base font-bold">Processing your request</span>
                        <span class="text-sm text-muted-foreground">Please wait while we process your request. Do not refresh the page.</span>
                    </div>

                    <div class="flex gap-2">
                        <Button Size="@Size.Sm" Variant="@Variant.Outline">Cancel</Button>
                    </div>
                </Card>
                
                @* badge demos *@
                <div>
                    <Badge Size="@Size.Lg"><LuLoaderCircle class="animate-spin"/>Syncing</Badge>
                    <Badge Size="@Size.Md" Variant="@Variant.Secondary"><LuLoaderCircle class="animate-spin"/>Updating</Badge>
                    <Badge Size="@Size.Sm" Variant="@Variant.Outline"><LuLoaderCircle class="animate-spin"/>Loading</Badge>
                </div>
                
                @* button group demos *@
                <div class="flex flex-col w-full gap-2">
                    <span class="text-xs text-muted-foreground font-bold">Actions</span>
                </div>
            </div>
            
            @* col 3 *@
            <SampleInstanceCreateForm />
            
            @* col 4 *@
            <div class="w-full flex flex-col gap-4">
                <SampleApiKeysView />
                <SampleBillingComponent />
            </div>
        </div>
    };
    
    private RenderFragment RenderMarkdownEditorTab() => __builder =>
    {
    };
    
    private RenderFragment RenderAiChatTab() => __builder =>
    {
    };
    
    private RenderFragment RenderAuthenticationTab() => __builder =>
    {
    };
}






