@page "/"

@using ShadcnBlazor.Docs.Components.Home
@using ShadcnBlazor.Docs.Components.Samples.AiChat

@layout NoNavMenuLayout

@inject NavigationManager Navigation

<PageTitle>A shadcn/ui inspired Blazor component library</PageTitle>
<HeadContent>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap" rel="stylesheet">
</HeadContent>

<div class="w-full flex flex-col items-center text-sm">
    <div class="flex flex-col items-center max-lg:px-4 max-lg:pt-12 lg:pt-20 max-lg:pb-6 lg:pb-40 max-lg:gap-16 lg:gap-25">
        <div class="w-full flex flex-col items-center gap-4">
            <h1 class="font-bold max-lg:text-3xl lg:text-5xl lg:w-5xl text-center">
                A
                <span class="bg-card px-1 rounded rounded-xl" style="font-family: 'JetBrains Mono', monospace;">shadcn/ui</span>
                inspired Blazor component library
            </h1>

            <p class="lg:text-lg lg:w-2xl text-center">
                A Blazor component library that offers simple, customizable, and extensible components.
                Similar to <span style="font-family: 'JetBrains Mono', monospace;">shadcn/ui</span>, this library is open source and open code.
            </p>

            <p class="max-lg:hidden text-sm w-2xl text-center text-muted-foreground">
                * everything you see here was built solely using
                <span style="font-family: 'JetBrains Mono', monospace;">ShadcnBlazor</span>
            </p>

            <div class="flex gap-4">
                <Button Size="@Size.Lg" Variant="@Variant.Default" OnClick="@(() => Navigation.NavigateTo("introduction"))">
                    Getting Started
                </Button>

                <Button Size="@Size.Lg" Variant="@Variant.Outline" OnClick="@(() => Navigation.NavigateTo("components"))">
                    View Components
                </Button>
            </div>
        </div>

        <div id="examples" class="lg:px-24 w-full flex flex-col items-center gap-6">
            <div id="examples-selector" class="w-full flex justify-start gap-4">
                @foreach (var tab in Enum.GetValues<Tab>())
                {
                    @RenderTabOption(tab)
                }
            </div>

            @switch (_selectedTab)
            {
                case Tab.Examples:
                    @RenderExamplesTab()
                    break;
                case Tab.AiChat:
                    @RenderAiChatTab()
                    break;
            }
        </div>
    </div>
</div>

@code {
    private RenderFragment RenderTabOption(Tab tab) => __builder =>
    {
        var tabString = TabToString(tab);
        <ToggleButton IsToggled="@(_selectedTab == tab)" OnClick="@(_ => _selectedTab = tab)"
                      VariantUntoggled="@Variant.Ghost" VariantToggled="@Variant.Default">
            <span class="font-bold">@tabString</span>
        </ToggleButton>
    };
    
    private RenderFragment RenderExamplesTab() => __builder =>
    {
        <div data-device="desktop" class="max-lg:hidden grid grid-cols-4 gap-x-4 w-full">
            @* col 1 *@
            <SamplePaymentForm />
            @* col 2 *@
            <RandomComponents1 />
            @* col 3 *@
            <SampleInstanceCreateForm />
            @* col 4 *@
            <RandomComponents2 />
        </div>
        
        <div data-device="desktop" class="hidden max-lg:flex grid grid-cols-4 gap-x-4 w-full">
            <SampleInstanceCreateForm />
        </div>
    };
    
    private RenderFragment RenderAiChatTab() => __builder =>
    {
        <Card Variant="@CardVariant.Outline" Class="w-full max-lg:p-2 h-[55rem] lg:h-max-[55rem]">
            <AiChat></AiChat>
        </Card>
    };
}
