@inherits RadioSelectableComponentBase

<button
    type="button"
    role="radio"
    aria-checked="@GetAriaChecked()"
    data-slot="radio-card"
    data-state="@(IsChecked ? "checked" : "unchecked")"
    data-size="@EffectiveSize"
    class="@GetClass()"
    disabled="@IsDisabled"
    @onclick="HandleClick"
    @attributes="AdditionalAttributes">
    <div class="flex min-w-0 flex-1 flex-col gap-1 text-left">
        @ChildContent
    </div>

    <span class="@GetIndicatorShellClass()">
        <span class="@GetIndicatorClass()">
            <span class="@GetDotClass()"></span>
        </span>
    </span>
</button>
