<Button
    Variant="@CurrentVariant"
    Size="@Size"
    Disabled="@Disabled"
    Type="@Type"
    Class="@CurrentClass"
    @onclick="HandleClick"
    @attributes="AdditionalAttributes">
    @ChildContent
</Button>